.simpleText {
	margin: 0px auto;
	font-size: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	margin-top: 80px;
	color: #222222;
}

.textCenter {
	text-align: center;
}