.cardWrap {
 	margin: 50px auto 0px auto;
 	background-color: whitesmoke;
    width: 80%;
}

ul.cardList {
	overflow: hidden;
	padding: 20px 0px;
}

ul.cardList > li {
	list-style: none;
    width: 100px;
    height: 100px;
    background: #4e90a2;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 1.2em;
    border-radius: 5px;
}
