.naviWrap {
    margin : 0px auto;
}

.naviWrap ul {
    width: 272px;
    margin: 0px auto;
    overflow: hidden;
}

.naviWrap  li {
	list-style: none;
    float: left;
    margin-right: 40px;
    text-align: center;
    font-size: 1.1em;
}

a {
    text-decoration: none;
}
